[submodule "frontend"]
	path = frontend
	url = https://github.com/mehtadhiraj/blockchain-frontend-reactjs.git
[submodule "backend"]
	path = backend
	url = https://github.com/mehtadhiraj/blockchain-backend-nodejs.git
[submodule "minner"]
	path = minner
	url = https://github.com/mehtadhiraj/blockchain-minner.git
